/** ---------------------------- */
/** --- Code editor ------------ */
/** ---------------------------- */
.code-edit-container {
  position: relative;
  min-height: 500px;
  border: 1px solid hsl(0, 0%, 75%);
  background-color: hsl(212, 35%, 95%);
  margin: .5em 0;
}

.code-edit-container .code-input,
.code-edit-container .code-output {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 0;
  border: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  background: transparent;
  white-space: pre-wrap;
  line-height: 1.5em;
  word-wrap: break-word;
  font-size: 1rem;
  box-sizing: border-box;
}

.code-edit-container .code-input {
  opacity: 1;
  caret-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 90%);
  resize: none;
  outline: none;
  overflow: hidden;
}

.code-edit-container .code-output {
  pointer-events: none;
  z-index: 3;
  overflow-y: auto;
}
.code-edit-container .code-output code {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 1rem;
  display: block;
  color: hsl(0, 0%, 40%);
}

.code-edit-container .tag:not(body) {
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  display: initial;
  height: 2em;
  justify-content: center;
  line-height: inherit;
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
}

.token.number {
  align-items: initial;
  background-color: initial;
  border-radius: initial;
  display: initial;
  height: initial;
  justify-content: initial;
  margin-right: initial;
  min-width: initial;
  padding: initial;
  text-align: initial;
  vertical-align: inherit;
  font-size: inherit;
}
